
App/app_teste.py
App/img/scale.ico
App/produtos.py
App/produtos_janela.py
chp2/RM92738_EX01.py
chp2/RM92738_EX02.py
chp2/RM92738_EX03.py
chp2/RM92738_EX03_2.py
chp3/RM92738_EX01.py
chp3/RM92738_EX02.py
chp3/RM92738_EX03.py
chp3/solucao prof/forLoop.py
chp3/solucao prof/Problema7.py
chp3/solucao prof/Problema8.py
chp3/solucao prof/RepeticaoProb1.py
chp3/solucao prof/RepeticaoProb2.py
chp3/solucao prof/RepeticaoProb3-versao2.py
chp3/solucao prof/RepeticaoProb3.py
chp3/solucao prof/RepeticaoProb4.py
chp3/solucao prof/RepeticaoProb7.py
chp3/solucao prof/RepeticaoProb9.py
chp3/solucao prof/RepeticaoProblema5.py
chp4/__pycache__/calc_func.cpython-39.pyc
chp4/funcoes.py
chp4/lista_simples.py
chp5/dicionario.py
chp5/tamanho_dados.py
chp6/novo_arquivo.txt
chp6/passwords.py
chp6/passwords.txt
chp6/passwords2.py
chp6/passwords_write.py
chp6/senhas.json
chp6/texto.txt
